* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Playball', cursive;
}

.selecioando {
    background-color: #CFCFCF;
}
